<section onclick="updateRoutine" class="exercise">
  {{@index}}
  <a>
  <div class="exercise-details">
    <header>{{name}}</header>
    <p>Muscle: {{muscle}}</p>
    <img src="/" alt="">
  </div>
  </a>
</section>

<script src="/js/update.js"></script>
