<section class="col-md-6 col-12 col-xl-4">
    <div class="card groupContainer containerGroup p-3">
        <a href="/group/{{id}}">
        <p>{{name}}</p>
        <img class="img-fluid" src="images/{{image}}" alt="{{description}}">
        </a>
    </div>
</section>
{{#if nextLine}}
       <div class="w-100"></div>
{{/if}}