<div class="row justify-space-between-md">
  <div class="col-md-6">
    <div class="card login-card groupContainer containerGroup p-3">
      <h2 class="page-title">Login</h2>
      <form class="form" id="login-form">
        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control" type="text" id="email" name="email" />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-control" type="password" id="password" name="password" />
        </div>
        <div class="form-group mt-3">
          <button class="btn btn-primary" type="submit">login</button>
        </div>
      </form>
    </div>
  </div>

</div>

<script src="/js/login.js"></script>