body {
    font-family: "Barlow Condensed", "Arial Narrow", "Roboto Condensed", "Open Sans Condensed", sans-serif;
    background-color: rgb(41, 27, 26);
}
h1 {
    color: pink
}

.groupContainer {
    margin: 20px 50px;
}